<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="prog13Entities" connectionString="metadata=res://*/BD.Model1.csdl|res://*/BD.Model1.ssdl|res://*/BD.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=1124-BOZYA02-22\SQLEXPRESS;initial catalog=prog13;user id=prog13;password=qweprog13;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>